In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [2]:
archivo = pd.read_csv('Call_Center_1999_DataSet.csv', sep=';')
archivo

C:\Users\aylen\AppData\Local\Temp\ipykernel_10136\2714530337.py:1: DtypeWarning: Columns (2) have mixed types. Specify dtype option on import or set low_memory=False.
  archivo = pd.read_csv('Call_Center_1999_DataSet.csv', sep=';')

,vru.line,call_id,customer_id,priority,type,date,vru_entry,vru_exit,vru_time,q_start,q_exit,q_time,outcome,ser_start,ser_exit,ser_time,server,startdate
0,AA0101,33116,9664491.0,2,PS,1999-01-01,0:00:31,0:00:36,5,0:00:36,0:03:09,153,HANG,0:00:00,0:00:00,0,NO_SERVER,0
1,AA0101,33117,0.0,0,PS,1999-01-01,0:34:12,0:34:23,11,0:00:00,0:00:00,0,HANG,0:00:00,0:00:00,0,NO_SERVER,0
2,AA0101,33118,27997683.0,2,PS,1999-01-01,6:55:20,6:55:26,6,6:55:26,6:55:43,17,AGENT,6:55:43,6:56:37,54,MICHAL,0
3,AA0101,33119,0.0,0,PS,1999-01-01,7:41:16,7:41:26,10,0:00:00,0:00:00,0,AGENT,7:41:25,7:44:53,208,BASCH,0
4,AA0101,33120,0.0,0,PS,1999-01-01,8:03:14,8:03:24,10,0:00:00,0:00:00,0,AGENT,8:03:23,8:05:10,107,MICHAL,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
444443,AA0216,17211,0.0,0,IN,1999-12-31,13:46:51,13:47:04,13,0:00:00,0:00:00,0,AGENT,13:47:03,13:56:16,553,Z2ELINOR,334
444444,AA0216,17212,0.0,0,IN,1999-12-31,13:58:31,13:58:40,9,13:58:40,13:59:49,69,HANG,0:00:00,0:00:00,0,NO_SERVER,334
444445,AA0216,17213,0.0,0,IN,1999-12-31,17:10:51,17:11:12,21,0:00:00,0:00:00,0,HANG,0:00:00,0:00:00,0,NO_SERVER,334
444446,AA0216,17214,0.0,0,IN,1999-12-31,18:30:19,18:30:54,35,0:00:00,0:00:00,0,HANG,0:00:00,0:00:00,0,NO_SERVER,334
444447,AA0216,17215,0.0,0,IN,1999-12-31,22:23:35,22:23:45,10,0:00:00,0:00:00,0,HANG,0:00:00,0:00:00,0,NO_SERVER,334

In [3]:
#Nombre de las variables del archivo
archivo.columns

Index(['vru.line', 'call_id', 'customer_id', 'priority', 'type', 'date',
       'vru_entry', 'vru_exit', 'vru_time', 'q_start', 'q_exit', 'q_time',
       'outcome', 'ser_start', 'ser_exit', 'ser_time', 'server', 'startdate'],
      dtype='object')

In [13]:
#Dimensiones del archivo
filas, columnas = archivo.shape
print(f'El conjunto de datos tiene {filas} filas y {columnas} columnas.')

El conjunto de datos tiene 444448 filas y 18 columnas.

In [5]:
#Corroboramos el tipo de dato de las variables y la cantidad de valores nulos de las mismas
archivo.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 444448 entries, 0 to 444447
Data columns (total 18 columns):
 #   Column       Non-Null Count   Dtype
---  ------       --------------   -----
 0   vru.line     444448 non-null  object
 1   call_id      444448 non-null  int64
 2   customer_id  444448 non-null  object
 3   priority     444448 non-null  int64
 4   type         444448 non-null  object
 5   date         444448 non-null  object
 6   vru_entry    444448 non-null  object
 7   vru_exit     444448 non-null  object
 8   vru_time     444448 non-null  int64
 9   q_start      444448 non-null  object
 10  q_exit       444448 non-null  object
 11  q_time       444448 non-null  int64
 12  outcome      444448 non-null  object
 13  ser_start    444448 non-null  object
 14  ser_exit     444448 non-null  object
 15  ser_time     444448 non-null  int64
 16  server       444448 non-null  object
 17  startdate    444448 non-null  int64
dtypes: int64(6), object(12)
memory usage: 61.0+ MB

In [15]:
#Confirmamos los valores nulos en el conjunto de datos
print(archivo.isnull().sum())

vru.line       0
call_id        0
customer_id    0
priority       0
type           0
date           0
vru_entry      0
vru_exit       0
vru_time       0
q_start        0
q_exit         0
q_time         0
outcome        0
ser_start      0
ser_exit       0
ser_time       0
server         0
startdate      0
dtype: int64

In [8]:
#Cambiamos los tipos de datos
archivo['vru.line']  =archivo['vru.line'].astype('str')
archivo['call_id']   =archivo['call_id'].astype('str')
archivo['priority']  =archivo['priority'].astype('category')
archivo['type']      =archivo['type'].astype('category')
archivo['date']      =pd.to_datetime(archivo['date'])
archivo['vru_entry'] =pd.to_datetime(archivo['vru_entry'])
archivo['vru_exit']  =pd.to_datetime(archivo['vru_exit'])
archivo['q_start']   =pd.to_datetime(archivo['q_start'])
archivo['q_exit']    =pd.to_datetime(archivo['q_exit'])
archivo['outcome']   =archivo['outcome'].astype('category')
archivo['ser_start'] =pd.to_datetime(archivo['ser_start'])
archivo['ser_exit']  =pd.to_datetime(archivo['ser_exit'])
archivo['vru_entry'] =pd.to_datetime(archivo['vru_entry'])
archivo['server']    =archivo['server'].astype('category')

C:\Users\aylen\AppData\Local\Temp\ipykernel_10136\2689012043.py:7: UserWarning: Could not infer format, so each element will be parsed individually, falling back to `dateutil`. To ensure parsing is consistent and as-expected, please specify a format.
  archivo['vru_entry'] =pd.to_datetime(archivo['vru_entry'])
C:\Users\aylen\AppData\Local\Temp\ipykernel_10136\2689012043.py:8: UserWarning: Could not infer format, so each element will be parsed individually, falling back to `dateutil`. To ensure parsing is consistent and as-expected, please specify a format.
  archivo['vru_exit']  =pd.to_datetime(archivo['vru_exit'])
C:\Users\aylen\AppData\Local\Temp\ipykernel_10136\2689012043.py:9: UserWarning: Could not infer format, so each element will be parsed individually, falling back to `dateutil`. To ensure parsing is consistent and as-expected, please specify a format.
  archivo['q_start']   =pd.to_datetime(archivo['q_start'])
C:\Users\aylen\AppData\Local\Temp\ipykernel_10136\2689012043.py:10: UserWarning: Could not infer format, so each element will be parsed individually, falling back to `dateutil`. To ensure parsing is consistent and as-expected, please specify a format.
  archivo['q_exit']    =pd.to_datetime(archivo['q_exit'])
C:\Users\aylen\AppData\Local\Temp\ipykernel_10136\2689012043.py:12: UserWarning: Could not infer format, so each element will be parsed individually, falling back to `dateutil`. To ensure parsing is consistent and as-expected, please specify a format.
  archivo['ser_start'] =pd.to_datetime(archivo['ser_start'])
C:\Users\aylen\AppData\Local\Temp\ipykernel_10136\2689012043.py:13: UserWarning: Could not infer format, so each element will be parsed individually, falling back to `dateutil`. To ensure parsing is consistent and as-expected, please specify a format.
  archivo['ser_exit']  =pd.to_datetime(archivo['ser_exit'])

In [9]:
#Verificamos que los cambios se hayan realizado con exito
archivo.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 444448 entries, 0 to 444447
Data columns (total 18 columns):
 #   Column       Non-Null Count   Dtype
---  ------       --------------   -----
 0   vru.line     444448 non-null  object
 1   call_id      444448 non-null  object
 2   customer_id  444448 non-null  object
 3   priority     444448 non-null  category
 4   type         444448 non-null  category
 5   date         444448 non-null  datetime64[ns]
 6   vru_entry    444448 non-null  datetime64[ns]
 7   vru_exit     444448 non-null  datetime64[ns]
 8   vru_time     444448 non-null  int64
 9   q_start      444448 non-null  datetime64[ns]
 10  q_exit       444448 non-null  datetime64[ns]
 11  q_time       444448 non-null  int64
 12  outcome      444448 non-null  category
 13  ser_start    444448 non-null  datetime64[ns]
 14  ser_exit     444448 non-null  datetime64[ns]
 15  ser_time     444448 non-null  int64
 16  server       444448 non-null  category
 17  startdate    444448 non-null  int64
dtypes: category(4), datetime64[ns](7), int64(4), object(3)
memory usage: 49.2+ MB

A continuacion se detallan algunas razones por las cuales el tipo de dato continua apareciendo como object cuando se convirtio a str: <br>
-Versiones de Pandas:<br>
Las versiones más recientes de pandas a veces optimizan la forma en que manejan ciertos tipos de datos, y esto puede influir en cómo se etiquetan internamente las columnas.<br>

-Visualización y Presentación:<br>
Al imprimir o mostrar el DataFrame, pandas a menudo etiquetará las columnas de tipo str como object por razones de presentación. Esto no afecta las operaciones que puedes realizar en la columna.

In [11]:
#Estadistica descriptiva para variables numericas
archivo.describe()
#Se verifica que vru_time tiene valores negativos que no corresponden

,date,vru_entry,vru_exit,vru_time,q_start,q_exit,q_time,ser_start,ser_exit,ser_time,startdate
count,444448,444448,444448,444448.000000,444448,444448,444448.000000,444448,444448,444448.000000,444448.000000
mean,1999-07-06 09:55:09.633522944,2023-10-29 14:27:15.241546240,2023-10-29 14:27:25.527627776,10.286081,2023-10-29 08:29:01.435895808,2023-10-29 08:29:48.776293120,59.004304,2023-10-29 11:43:11.602028288,2023-10-29 11:44:47.382784256,152.561776,172.333974
min,1999-01-01 00:00:00,2023-10-29 00:00:01,2023-10-29 00:00:08,-362.000000,2023-10-29 00:00:00,2023-10-29 00:00:00,0.000000,2023-10-29 00:00:00,2023-10-29 00:00:00,0.000000,0.000000
25%,1999-04-11 00:00:00,2023-10-29 10:45:42,2023-10-29 10:45:51,6.000000,2023-10-29 00:00:00,2023-10-29 00:00:00,0.000000,2023-10-29 08:37:01,2023-10-29 08:38:59,12.000000,90.000000
50%,1999-07-06 00:00:00,2023-10-29 14:03:55,2023-10-29 14:04:06,8.000000,2023-10-29 10:01:48,2023-10-29 10:03:29,16.000000,2023-10-29 12:23:49,2023-10-29 12:26:31,84.000000,181.000000
75%,1999-10-07 00:00:00,2023-10-29 17:43:51,2023-10-29 17:44:01,10.000000,2023-10-29 14:57:19.249999872,2023-10-29 14:59:05,79.000000,2023-10-29 16:50:35,2023-10-29 16:52:39.249999872,185.000000,273.000000
max,1999-12-31 00:00:00,2023-10-29 23:59:58,2023-10-29 23:59:59,4832.000000,2023-10-29 23:59:59,2023-10-29 23:59:59,28693.000000,2023-10-29 23:59:58,2023-10-29 23:59:59,61437.000000,334.000000
std,NaN,NaN,NaN,34.942136,NaN,NaN,119.470328,NaN,NaN,282.372761,104.559247

In [12]:
#Estadistica descriptiva para variables categoricas
archivo.describe(include=["category","object"])

       vru.line call_id  customer_id  priority    type outcome     server
count    444448  444448     444448.0    444448  444448  444448     444448
unique       30   54471      19048.0         3       8       3         53
top      AA0209   37585          0.0         0      PS   AGENT  NO_SERVER
freq      21423      16     178572.0    235168  302522  353143      96511

In [24]:
print(archivo['call_id'].unique())

['33116' '33117' '33118' ... '55654' '55655' '55656']